block config
  include config
doctype
html
  head
    include ../include/meta.jade
    include ../include/style.jade
  body
    include ../include/header
    block content
    include ../include/footer
    include ../include/script.jade
