button.ui.inverted.basic.button.circular#nav-trigger-btn
	span.nav-icon

article.nav-out-wrapper
	section.nav-in-wrapper.ui.container.grid.two.column
		article.column.nav-section.nav-links-section
			section.ui.list.animated
				.nav-header
					h1 navigation
					.ui.divider
				a.item(href="#home"): h2 home
				a.item(href="#about"): h2 about
				a.item(href="#work"): h2 work
		article.column.nav-section.nav-info-section
			address
				ul.ui.list
					li.item.email
						a(href="mailto:ron.yu@afusion.com") ron.yu@afusion.com
					li.item.number +886 961399606
					li.item.location
						b Taiwan
						br
						| 8F-B, No.550, Ruiguang Road, Neihu District, Taipei City 114, Taiwan
					li.item.social-media
						.ui.list.relaxed.horizontal.social-media-wrapper
							.item
								a(href="https://www.facebook.com/ron.yu.1232" target="_blank")
									i.facebook.aquare.icon
							.item
								a(href="http://tw.linkedin.com/in/RonYuPortfolio" target="_blank")
									i.linkedin.aquare.icon
							.item
								a(href="https://github.com/Ron-Yu" target="_blank")
									i.github.icon
							.item
								a(href="mailto:ronyu77@gamil.com")
									i.mail.outline.icon
