script(type="application/javascript", src="./assets/vendor/js/jquery.js")
script(type="application/javascript", src="./assets/vendor/js/underscore.js")
script(type="application/javascript", src="./semantic/dist/semantic.js")
script(type="application/javascript", src="./assets/vendor/js/jquery.lettering.js")
script(type="application/javascript", src="./assets/vendor/js/jquery.textillate.js")
script(type="application/javascript", src="./assets/vendor/js/owl.carousel.js")
script(type="application/javascript", src="./assets/vendor/js/github.min.js")
script(type="application/javascript", src="./js/main.js")
