link(rel="stylesheet", href="./semantic/dist/semantic.css")
link(rel="stylesheet", href="./assets/vendor/css/animate.css")
link(rel="stylesheet", href="./assets/vendor/css/owl.carousel.css")
link(rel="stylesheet", type="text/css", href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css")
link(rel="stylesheet", href="./assets/vendor/css/github.min.css")
link(rel='stylesheet', href='./css/application.css')
